img.rss {
 height: 20px;
 width: 20px;
}
.page_title{
    margin: 5px 0px 5px 0px;
}
.main_content{
    padding: 10px 0px 10px 0px;
}
.comments{
    padding: 10px 0px 10px 0px;
}
.content{
    padding: 10px 0px 10px 0px;
}
.main_content p{
    text-align:justify;
}
